In [1]:
d ={}
type (d)

dict

In [2]:
d[23] = 34.5
d

{23: 34.5}

In [3]:
#Compare dictionary
d1 = {}
d1[2] = 1

d2 = {}
d2[2] = [2]

d1==d2

False

In [4]:
1 in d2

False

In [5]:
2 in d2

True

In [6]:
a = 30
b = 40
c = 50

if a>b:
    print(a)
else:
    print(b)

40

In [7]:
n = int(input())
i =1 
while i<n:
    print(i)
    i = i+1
print("done")

3
1
2
done

In [8]:
n = int(input())
for i in range(1,5):
    print(i)

3
1
2
3
4

In [9]:
# check Prime

n = int(input())
prime = True
for i in range (2,n):
    if(n%i == 0):
        prime = False
    
if prime:
     print("prime")
else:
     print("not prime")

6
not prime

In [10]:
# Dictionary To DataFrame
import pandas as pd

a = {'Albums': ['Thriller','back in black','dark side','body guard'],\
    'Length': [ '00:42:19','00:42:11','00:41:00','00:66:01'],\
    'Released': ['1982','1987','1992','1997']}
     
df = pd.DataFrame(a)
df

          Albums    Length Released
0       Thriller  00:42:19     1982
1  back in black  00:42:11     1987
2      dark side  00:41:00     1992
3     body guard  00:66:01     1997

In [11]:
df.dtypes

Albums      object
Length      object
Released    object
dtype: object

In [12]:
df['Released']

0    1982
1    1987
2    1992
3    1997
Name: Released, dtype: object

In [13]:
df[:1]

     Albums    Length Released
0  Thriller  00:42:19     1982

In [14]:
df.head()

          Albums    Length Released
0       Thriller  00:42:19     1982
1  back in black  00:42:11     1987
2      dark side  00:41:00     1992
3     body guard  00:66:01     1997

In [15]:
df['Albums'][1:4]

1    back in black
2        dark side
3       body guard
Name: Albums, dtype: object

In [16]:
def sum(a,b):
    c = a+b
    return c

def sub(a,b):
    c = a-b
    return c

a = int(input())
b = int(input())

print(sum(a,b))
print(sub(a,b))

4
2
6
2

In [17]:
def divide(a,b):
    c = a/b
    return c

def square(a):
    return a**2

a = int(input())
b = int(input())

print(divide(a,b))
print(square(a))

3
6
0.5
9

In [18]:
def table(x):
    for i in range(1,11):
            val = x*i
            print(x,"*",i,"=",val)
x = int(input())
table(x)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
def area(a):
    ar = 2*3.14*r
    return ar
def cir(r):
    cc = 3.14*r*r
    return cc
a= int("Radius"input())
b = ar(a)
print("area",b)

c = int("\nradius"input())
d= c(cc)

In [ ]:
def fib(n):
    a =0
    b=1
    print("Fib series\n")
    for i in range(n):
        print(b, end=',')
        z=b
        b=b+a
        a=z
        
n = int(input("Enter number"))
fib(n)